* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  padding: 10px;
  padding-bottom: 15px;
  text-align: left;
  background: darkcyan;
  color: aliceblue;
}

.introduction-img {
  max-height: auto;
  max-width: 400px;
  position: absolute;
  text-align: center;
}

.introduction-name {
  position: relative;
  align-content: end;
  left: 15px;
  top: 15px;
}

header h1 {
  display: inline-block;
  background-color: darkgoldenrod;
  flex-direction: end;
}

nav {
  display: flex;
  float: right;
  background-color: darkslategrey;
}

nav p {
  /* display: flex; */
  padding: 30px;
  padding-bottom: 20px;
}

/* ADD main{} section here!!! */

/* utilize flexbox for responsive layout */
/* ^^figure out different screen size standards */

/* IMAGES */
/* img size for avatar 30%? */
/* img size for prework = 200% */
/* img size for ch.1&placeholder 100% */
/* 
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
} */
