* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.card {
  /* display: flexbox; */
  /* flex-wrap: wrap; */
  /* padding: 0px; */
  display: flex;
  /* flex-direction: column; */
  background: rgb(2, 17, 53);
  color: rgb(255, 255, 255);
  width: 100%;
  /* height: auto; */
  flex-direction: column;
  justify-content: flex-end;
  /* flex-wrap: wrap-reverse; */
  /* flex-direction: row; */
}

.card #introduction-img {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex; */
  /* flex-direction: row; */
  max-height: 20%;

  padding-top: 1%;
  padding-left: 1%;
  padding-right: 80%;
  /* margin-right: 0; */
  /* margin-left: auto; */
  position: absolute;
  /* justify-self: flex-end; */
}

.card #introduction-name {
  background-color: rgb(196, 161, 73);
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  align-self: flex-end;
  /* align-self: flex-start; */
  /* flex-direction: column; */
  position: relative;
  width: 80%;
  /* max-height: 20%; */
  /* align-items: center; */
  /* padding: 0; */
  font-size: 300%;
  /* margin-left: 20%; */
  margin-bottom: 0%;
  padding-left: 2%;
  justify-content: center;
  /* left: 0px; */
  /* top: 15px; */
}

nav {
  position: relative;
  display: flex;
  width: 80%;
  /* margin-left: 20%; */
  align-self: flex-end;
  justify-content: space-evenly;
  background-color: darkslategrey;
  flex-wrap: wrap;
  /* margin-left: 20%; */
}

nav p {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
  /* padding-bottom: 10px; */
}

/* ADD main{} section here!!! */
main {
  display: flex;
  flex-wrap: wrap;
}
/* utilize flexbox for responsive layout */
/* ^^figure out different screen size standards */
footer {
  display: flex;
  flex-wrap: wrap;
}

/* IMAGES */
/* img size for avatar 30%? */
/* img size for prework = 200% */
/* img size for ch.1&placeholder 100% */
/* 
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
} */
