* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

header {
  /* display: flexbox; */
  /* flex-wrap: wrap; */
  /* padding: 0px; */
  background: rgb(2, 17, 53);
  color: rgb(255, 255, 255);
  width: 100%;
  /* flex-direction: row; */
}

header h1 {
  background-color: rgb(196, 161, 73);
}

.introduction-img {
  display: flex;
  justify-content: flex;
  max-height: auto;
  max-width: 20%;
  padding: 1%;
  /* position: absolute; */
}

.introduction-name {
  display: flex;
  /* position: relative; */
  width: 40%;
  max-height: auto;
  /* align-items: center; */
  /* padding: 0; */
  font-size: 300%;
  /* left: 0px; */
  /* top: 15px; */
}

nav {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  background-color: darkslategrey;
}

nav p {
  display: flex;
  flex-wrap: wrap;
  /* padding: 10px; */
  /* padding-bottom: 10px; */
}

/* ADD main{} section here!!! */
main {
  display: flex;
  flex-wrap: wrap;
}
/* utilize flexbox for responsive layout */
/* ^^figure out different screen size standards */

/* IMAGES */
/* img size for avatar 30%? */
/* img size for prework = 200% */
/* img size for ch.1&placeholder 100% */
/* 
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
} */
